@page "/learnBlazor/blazorJs"
@inject IJSRuntime _JsRuntime

<h3 class="mb-4" style="color:#f59e0b">BlazorJs</h3>

<button class="btn" style="background-color:#8b5cf6;color:#fff" @onclick="TestConfirmBox">Test confirm Button</button>

<button class="btn btn-success" @onclick="ToastrSuccess">Test confirm Button</button>
<button class="btn btn-danger" @onclick="ToastrFailer">Test confirm Button</button>

<div class="container mt-5 text-center">
    <div class="row">
        @if (ConfirmResult)
        {
            <h2 class="text-success">Confirmation has been made!</h2>
        }
        else
        {
            <h2 class="text-danger">Confirmation Pending!</h2>
        }
    </div>
</div>

@code {

    private string ConfirmMessage = "Are you sure you want to click the confirm button ?";
    
    private bool ConfirmResult {get; set; }
    
    private async Task TestConfirmBox()
    {
        ConfirmResult = await _JsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }
    
    private async Task ToastrSuccess()
    {
         await _JsRuntime.InvokeVoidAsync("ShowToaster", "success" , "Success" );
    }
    
    private async Task ToastrFailer()
    {
         await _JsRuntime.InvokeVoidAsync("ShowToaster", "error" , "error");
    }

    
}