@page  "/learnBlazor/demoProduct"

<h2 class="text-success my-4">DemoProduct</h2>

<div class="container bg-light">
    <div class="row">
        @foreach (var product in Products)
        {
            <div class="col border d-flex flex-column">
                <div class="">
                    <p>Name : <span class="text-primary">@product.Name</span></p>
                    <p class="d-inline"> Show Properties : </p> <input type="checkbox" @bind="@product.IsActive"/>
                    @if (product.IsActive)
                    {
                        foreach (var prop in product.ProductProperties)
                        {
                            <p> @prop.Key - @prop.Value</p>
                        }
                    }
                </div>
                <_EditDeleteBtn></_EditDeleteBtn>
            </div>
        }
    </div>
</div>

@code {

    List<Demo_Product> Products = new();

    protected override void OnInitialized()
    {
        Products.Add(new()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            Price = 10.99,
            ProductProperties = new()
            {
                new Demo_ProductProp {Id = 1, Key = "Flavor", Value = "Rose"},
                new Demo_ProductProp {Id = 2, Key = "Size", Value = "20oz"},
                new Demo_ProductProp {Id = 3, Key = "Color", Value = "Purple"}
            }
        });

        Products.Add(new()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            Price = 13.99,
            ProductProperties = new()
            {
                new Demo_ProductProp {Id = 1, Key = "Flavor", Value = "Lily"},
                new Demo_ProductProp {Id = 2, Key = "Size", Value = "18oz"},
                new Demo_ProductProp {Id = 3, Key = "Color", Value = "White"}
            }
        });

        base.OnInitialized();
    }

}