@page  "/learnBlazor/demoProduct"

<h2 class="text-success my-4">DemoProduct</h2>
<p class="text-danger">Favourites Total : @selectedFavoriteCount</p>

<div class="container bg-light">
    <div class="row">
        @foreach (var product in Products)
        {
            <_IndividualProduct product="product" OnFavoriteCountUpdated="FavoriteCountUpdated" ></_IndividualProduct>
        }
    </div>
</div>

@code {

    private int selectedFavoriteCount { get; set; } = 0;
    
    List<Demo_Product> Products = new();

    protected override void OnInitialized()
    {
        Products.Add(new()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            Price = 10.99,
            ProductProperties = new()
            {
                new Demo_ProductProp {Id = 1, Key = "Flavor", Value = "Rose"},
                new Demo_ProductProp {Id = 2, Key = "Size", Value = "20oz"},
                new Demo_ProductProp {Id = 3, Key = "Color", Value = "Purple"}
            }
        });

        Products.Add(new()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            Price = 13.99,
            ProductProperties = new()
            {
                new Demo_ProductProp {Id = 1, Key = "Flavor", Value = "Lily"},
                new Demo_ProductProp {Id = 2, Key = "Size", Value = "18oz"},
                new Demo_ProductProp {Id = 3, Key = "Color", Value = "White"}
            }
        });

        base.OnInitialized();
    }

    #region Methods

    protected void FavoriteCountUpdated(bool isSelected)
    {
        if (isSelected)
        {
            selectedFavoriteCount++;
        }
        else
        {
            selectedFavoriteCount--;
        }
    }
    

    #endregion
}