@* @page "/learnBlazor/LearnRouting/{Id}" *@
@* @page "/learnBlazor/LearnRouting/{Id}/{parameter}" *@
@page "/learnBlazor/LearnRouting"

@inject NavigationManager _NavigationManager


<h3 class="my-2" style="color:#a855f7">Learn Routing</h3>

<p>Id : @param1</p>
<p>Parameter : @param2</p>

@* <NavLink href="/learnBlazor/LearnRouting?Id=01&Parameter=Tangy" class="btn btn-primary">Navigate to query parameters</NavLink> *@
<button @onclick="NavigateToQueryParameters" class="btn btn-primary">Navigate to query parameters</button>
<button
    class="btn btn-success"
    @onclick="loadParameters">
    Load parameters
</button>

<div class="my-5">
    <p>Query String parameters : </p>
</div>

@code {

    [Parameter] public string? Id { get; set; }

    [Parameter] public string? Parameter { get; set; }

    public string? param1 { get; set; }

    public string? param2 { get; set; }


    private void loadParameters()
    {
        var absoluteURI = new Uri(_NavigationManager.Uri);
        var queryParam = System.Web.HttpUtility.ParseQueryString(absoluteURI.Query);
        param1 = queryParam["Id"];
        param2 = queryParam["Parameter"];
    }

    private void NavigateToQueryParameters()
    {
         _NavigationManager.NavigateTo("/learnBlazor/LearnRouting?Id=01&Parameter=Tangy"); 
    }
    
}