@page "/learnBlazor/parentComponent"

<h2 class="mb-4">Parent Child Relation</h2>

<_ChildComponent Tile="This Tile is passed as a parameter from the Parent component">
    <p>This is some content being passed as a RenderFragment ChildContent. 
        Add this where you want the ChildContent to display in the child component.</p>
</_ChildComponent>

@code {

}