@page "/learnBlazor/parentComponent"

<h2 class="mb-4">Parent Child Relation</h2>

<CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
    <CascadingValue Value="@MessageForGrandChild" Name="MessageForGrandChild">
        <_ChildComponent
            @ref="childref"
            Tile="This Tile is passed as a parameter from the Parent component"
            OnButtonClick="ShowMessage">
            <ChildContent>
                <p>
                    This is some content being passed as a RenderFragment ChildContent.
                    Add this where you want the ChildContent to display in the child component.
                </p>
            </ChildContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

@messageText

<_AnotherChildComponent Placeholder="Placeholder from Parent">
</_AnotherChildComponent>


<hr class="my-5">
<div class="container my-5">
    <div class="row">
        <button class="btn btn-success" style="width:200px" @onclick="() => childref.ToastrSuccess()" >SweetAlert Success</button>
    </div>

</div>

@code {


    #region Parameters

    [Parameter] public Dictionary<string, object> InputAttributesFromParent { get; set; } = new();

    #endregion

    #region Props

    private _ChildComponent childref;
    
    private string messageText { get; set; }

    private string LuckyNumber = "7";

    private string MessageForGrandChild = "This message is from your parent (ParentComponent)";

    #endregion

    #region Methods

    private void ShowMessage()
    {
        messageText = "Tangy Button clicked from Child Component";
    }

    private void ShowAlertSuccessAsync()
    {
        throw new NotImplementedException();
    }

    #endregion


}