<div class="bg-light px-2 py-4">
    <div class="alert alert-info">@Tile</div>
    <div class="alert alert-success">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>

    <button type="button" class="btn btn-danger" @onclick="OnButtonClick">Button to be clicked</button>
</div>

@code {

    [Parameter] public string Tile { get; set; }
    
    [Parameter] public RenderFragment ChildContent { get; set; }
    
    [Parameter] public EventCallback OnButtonClick  {get; set; }
    
}